# This is a basic workflow to help you get started with Actions

name: MacOS cron

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on: push

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  cron-job:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        channel: 'dev' 

    - run: touch .env
    - run: flutter pub get
    - run: flutter test test/macos_check_certificates.dart
